#login {
    width: 370px;
    height: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background:url('../img/bg-login.png');
    font: 75%/2 Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #fff;
    border-radius:9px;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
}
#login-box{
    background:transparent url('../img/cadeado.png') no-repeat 250px 55px;
    width: 100%;
    height: 100%;
}

button{
    height:35px;
    margin:35px 15px 0 15px;
    text-shadow:1px 1px #999999;
    width:90px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

hr{
    color: #fff;
    margin-top: 33px;
}

label#labelUsuario, label#labelSenha{
    clear:left;
    float:left;
    height:30px;
    margin-top:4px;
    margin-left:20px;
    width:70px;
    font-size: 14px;
}

.buttons{
    margin: 0 auto;
    text-align: center;
}

input{
    clear: left;
    font-size: 15px;
    width: 150px;
}

select{
    clear: left;
    font-size: 15px;
    width: 150px;
}

.error{
    background: #FF9!important;
    border: #f00 solid 1px!important;
}
label.error{
    display: none!important;
}

h2{
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #fff;
    text-shadow:1px 1px #000;
}
#div_mensagem{
    background: #ff9;
    border: 1px dotted;
    width: 340px;
    margin-top: 40px;
    padding: 10px;
    height: 20px;
    text-align: center;
    color: #e00;
    margin: -52px auto 0;

}
.header {
    background: #b00 url(../img/bg_topo.png) repeat-x;
    padding:7px;
    min-height:65px;
    margin-bottom: 70px;    
}
#sis_info{
    float: right;
    font-family: sans-serif;
    color: #fff;
    margin-top: 50px;
    font-weight: bold;
    text-shadow:1px 1px #000;
}
